src/main/resources/pokeapi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.pokeapi.com/soap/generation"
	targetNamespace="http://www.pokeapi.com/soap/generation"
	elementFormDefault="qualified">


	<xs:element name="AbilityResource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ability">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="name" />
							<xs:element type="xs:string" name="url" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:boolean" name="is_hidden" />
				<xs:element type="xs:int" name="slot" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	

	<xs:element name="FormResource">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="name" />
				<xs:element type="xs:string" name="url" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	
				<xs:element name="GameIndice">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:int" name="game_index" />
							<xs:element name="version">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="name" />
										<xs:element type="xs:string" name="url" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

	
				<xs:element name="HeldItem">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Item">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="name" />
										<xs:element type="xs:string" name="url" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="VersionDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VersionDetail"
											maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:int" name="rarity" />
													<xs:element name="Version">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="name" />
																<xs:element type="xs:string" name="url" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>


				<xs:element name="MoveResource">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Move">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="name" />
										<xs:element type="xs:string" name="url" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="VersionGroupDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VersionGroupDetail"
											maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:int"
														name="level_learned_at" />
													<xs:element name="move_learn_method">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="name" />
																<xs:element type="xs:string" name="url" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="version_group">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="name" />
																<xs:element type="xs:string" name="url" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

	
	<xs:element name="Species">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="name" />
				<xs:element type="xs:string" name="url" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sprites">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="back_default" />
				<xs:element type="xs:string" name="back_female" />
				<xs:element type="xs:string" name="back_shiny" />
				<xs:element type="xs:string" name="back_shiny_female" />
				<xs:element type="xs:string" name="front_default" />
				<xs:element type="xs:string" name="front_female" />
				<xs:element type="xs:string" name="front_shiny" />
				<xs:element type="xs:string" name="front_shiny_female" />

				<xs:element name="other">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DreamWorld">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="front_default" />
										<xs:element type="xs:string" name="front_female" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="home">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="front_default" />
										<xs:element type="xs:string" name="front_female" />
										<xs:element type="xs:string" name="front_shiny" />
										<xs:element type="xs:string" name="front_shiny_female" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="official-artwork">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="front_default" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="versions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GenerationI">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RedBlue">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_gray" />
													<xs:element type="xs:string"
														name="back_transparent" />
													<xs:element type="xs:string"
														name="front_default" />
													<xs:element type="xs:string" name="front_gray" />
													<xs:element type="xs:string"
														name="front_transparent" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Yellow">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_gray" />
													<xs:element type="xs:string" name="back_transparent" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_gray" />
													<xs:element type="xs:string" name="front_transparent" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GenerationII">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="crystal">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_shiny" />
													<xs:element type="xs:string" name="back_shiny_transparent" />
													<xs:element type="xs:string" name="back_transparent" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_shiny_transparent" />
													<xs:element type="xs:string" name="front_transparent" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="gold">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_shiny" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_transparent" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="silver">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_shiny" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_transparent" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GenerationIII">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="emerald">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_shiny" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="firered-leafgreen">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_shiny" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_shiny" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ruby-sapphire">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_shiny" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_shiny" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GenerationIV">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="diamond-pearl">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_female" />
													<xs:element type="xs:string" name="back_shiny" />
													<xs:element type="xs:string" name="back_shiny_female" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_female" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_shiny_female" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="heartgold-soulsilver">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_female" />
													<xs:element type="xs:string" name="back_shiny" />
													<xs:element type="xs:string" name="back_shiny_female" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_female" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_shiny_female" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="platinum">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_female" />
													<xs:element type="xs:string" name="back_shiny" />
													<xs:element type="xs:string" name="back_shiny_female" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_female" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_shiny_female" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GenerationV">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="black-white">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="animated">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="back_default" />
																<xs:element type="xs:string" name="back_female" /> 
																<xs:element type="xs:string" name="back_shiny" />
																<xs:element type="xs:string" name="back_shiny_female" />
																<xs:element type="xs:string" name="front_default" />
																<xs:element type="xs:string" name="front_female" />
																<xs:element type="xs:string" name="front_shiny" />
																<xs:element type="xs:string" name="front_shiny_female" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="back_default" />
													<xs:element type="xs:string" name="back_female" />
													<xs:element type="xs:string" name="back_shiny" />
													<xs:element type="xs:string" name="back_shiny_female" />
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_female" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_shiny_female" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GenerationVI">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="omegaruby-alphasapphire">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_female" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_shiny_female" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="x-y">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_female" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_shiny_female" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GenerationVII">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="icons">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_female" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ultra-sun-ultra-moon">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_female" />
													<xs:element type="xs:string" name="front_shiny" />
													<xs:element type="xs:string" name="front_shiny_female" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GenerationVIII">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="icons">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="front_default" />
													<xs:element type="xs:string" name="front_female" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

				<xs:element name="StatResource" >
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:int" name="base_stat" />
							<xs:element type="xs:int" name="effort" />
							<xs:element name="Stat">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="name" />
										<xs:element type="xs:string" name="url" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="TypeResource">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:int" name="slot" />
							<xs:element name="Type">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="name" />
										<xs:element type="xs:string" name="url" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
	</xs:element>
	
	<xs:element name="abilities" >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:AbilityResource" maxOccurs="unbounded"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="forms" >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:FormResource" maxOccurs="unbounded"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gameIndices" >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:GameIndice" maxOccurs="unbounded"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="heldItems" >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:HeldItem" maxOccurs="unbounded"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="moves" >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:MoveResource" maxOccurs="unbounded"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>			
	<xs:element name="stats" >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:StatResource" maxOccurs="unbounded"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>					
	<xs:element name="types" >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:TypeResource" maxOccurs="unbounded"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			
	<xs:element name="pokeApi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:abilities" />
				<xs:element type="xs:int" name="base_experience" />
				<xs:element ref="tns:forms" />
				<xs:element ref="tns:gameIndices" />
				<xs:element type="xs:int" name="height" />
				<xs:element ref="tns:heldItems" />
				<xs:element type="xs:int" name="id" />
				<xs:element type="xs:boolean" name="is_default" />
				<xs:element type="xs:string" name="location_area_encounters" />
				<xs:element ref="tns:moves" />
				<xs:element type="xs:string" name="name" />
				<xs:element type="xs:int" name="order" />
				<xs:element type="xs:string" name="past_types" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="tns:Species"/>
				<xs:element ref="tns:Sprites"/>
				<xs:element ref="tns:stats" />	
				<xs:element ref="tns:types" />				
				<xs:element type="xs:int" name="weight" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getPokeApi">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getPokeApiResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:pokeApi" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getAbilities">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getAbilitiesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:abilities" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getBaseExperience">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getBaseExperienceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="base_experience" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getHeldItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getHeldItemsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:heldItems"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getIdResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getName">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="getNameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getLocationAreaEncounters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getLocationAreaEncountersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="location_areas" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>